Repository piyushgarg-dev/review-app, pull requests merged in 2023-10, with the labels that each got.

#8 docs: #5 Created a CONTRIBUTING.md and #6 Added a README.md
  CONTRIBUTING.md
  README.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted

#16 fix: Dark mode and text area bug
  components/Dashboard/DashboardSidebar/index.tsx
  components/Dashboard/FormPreview.tsx
  components/Dashboard/ReviewForm.tsx
Labels: hacktoberfest-accepted

#17 fix: Fixes uncontrolled input at signup page
  pages/__app/signup.tsx
Labels: hacktoberfest, hacktoberfest-accepted

#38 docs: updated the README licence
  README.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted

#36 fix: form submition on cancel button
  components/Modals/CreateFormModal.tsx
Labels: hacktoberfest, hacktoberfest-accepted

#66 refactor: removed support for slug and added subdomain support
  components/Dashboard/DashboardSidebar/index.tsx
  components/Dashboard/FormPane.tsx
  components/Dashboard/ProjectSwitch.tsx
  components/Modals/CreateFormModal.tsx
  components/Modals/ProjectModal.tsx
  gql/gql.ts
  gql/graphql.ts
  graphql.schema.json
  graphql/mutations/project.ts
  graphql/queries/project.ts
  hooks/query/project.tsx
  pages/__app/dashboard/[domain]/forms/edit/[formId].tsx
  pages/__app/dashboard/[domain]/forms/index.tsx
  pages/__app/dashboard/[domain]/index.tsx
  pages/__app/dashboard/index.tsx
Labels: hacktoberfest, hacktoberfest-accepted

#83 fix: Ragex check added on subdomain
  components/Modals/ProjectModal.tsx
Labels: bug, good first issue, hacktoberfest, hacktoberfest-accepted

#44 feat: Designed and added landing page
  components/ui/footer.tsx
  components/ui/main.tsx
  components/ui/navbar.tsx
  pages/index.tsx
  public/images/custom.png
  public/images/dashboard.png
  public/images/signin.png
  tailwind.config.ts
Labels: hacktoberfest, hacktoberfest-accepted

#73 fix: fixed issue number 71!
  layouts/DashboardLayout.tsx
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#67 feat: Enhance Log Out Button Functionality
  context/Authentication.tsx
Labels: bug

#96 fix: Fixed Input error in darkmode
  components/Dashboard/FormEdit.tsx
  components/Dashboard/ReviewForm.tsx
Labels: bug, hacktoberfest-accepted

#110 fix: project model submition on cancel button
  components/Modals/ProjectModal.tsx
Labels: bug, hacktoberfest-accepted

#79 feat: redirecting to Domain signin and signup page resolved
  middleware.ts
  pages/__app/signin.tsx
  pages/__app/signup.tsx
Labels: enhancement, good first issue, hacktoberfest, hacktoberfest-accepted, 🔒 lock

#105 fix: Fixed the copy icon when clicked on it link is copied to clipboard when a form is created
  components/Dashboard/FormPane.tsx
Labels: bug

#121 fix: multi select form check
  components/Dashboard/FormPane.tsx
Labels: hacktoberfest-accepted

#103 feat: realtime form preview
  components/Dashboard/FormEdit.tsx
  components/Dashboard/FormWrapper.tsx
  components/Dashboard/ReviewForm.tsx
  pages/__app/dashboard/[domain]/forms/edit/[formId].tsx
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#126 feat: A new feature (Contributers added in readme)
  README.md
Labels: hacktoberfest-accepted

#179 feat: added video to setup locally
  CONTRIBUTING.md
  README.md
Labels: hacktoberfest, hacktoberfest-accepted

#171 fix: sidebar tab active style changes
  components/Dashboard/DashboardSidebar/index.tsx
Labels: bug

#180 feat: landing page navbar, hero, highlight, features and the footer section added
  components/ThemeToggle.tsx
  pages/templates/ebraj/index.tsx
  public/ebraj/landing-page/images/product-ui.png
  public/ebraj/landing-page/images/review-app-logo.png
  public/ebraj/landing-page/images/step-01.png
  public/ebraj/landing-page/images/step-02.png
  styles/globals.css
Labels: good first issue, hacktoberfest, hacktoberfest-accepted

#185 feat: about-us page added | index minor updates
  next.config.js
  pages/templates/ebraj/about.tsx
  pages/templates/ebraj/index.tsx
Labels: good first issue, hacktoberfest, hacktoberfest-accepted

#197 fix: Fixed the color on hovering links in the footer in both Light and Dark Mode
  pages/templates/ebraj/index.tsx
Labels: bug, good first issue, hacktoberfest, hacktoberfest-accepted

#187 fix: Added loading spinner and centered it for form edit page loading screen
  components/ui/loadingSpinner.tsx
  pages/__app/dashboard/[domain]/forms/edit/[formId].tsx
Labels: bug

#210 fix: Added favicon and metadata to - Landing Page , About Page and Dashboard
  app/layout.tsx
  layouts/DashboardLayout.tsx
  pages/_app.tsx
  pages/templates/ebraj/about.tsx
  pages/templates/ebraj/index.tsx
  public/favicon.ico
Labels: bug

#213 fix: Layout shift on Landing page
  pages/templates/ebraj/index.tsx
Labels: bug

#220 fix: fix the password placeholder
  pages/__app/signup.tsx
Labels: bug

#247 fix: changed 'Create new' to 'Create'
  pages/__app/dashboard/[domain]/forms/index.tsx
Labels: bug

#245 fix: increase padding in 404 page
  pages/[...slug].tsx
Labels: bug

#255 feat: dark mode added to the review form
  components/Dashboard/ReviewForm.tsx
Labels: bug

#272 fix: Corrected NEXT_PUBLIC_AWS_API_URL in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: bug
